.slider {
  width: 1000px;
  height: 100px;
  display: flex;
  align-items: center;
}

.slider-wrapper {
  width: 900px;
  height: 100%;
  display: flex;
  transition: transform 0.3s ease-out;
}

.card {
  width: 1000px;
}

.slider button {
  border-style: none;
  height: 100%;
}
